/*

**/__pycache__

!.dotfiles/
.dotfiles/boot/*
!.dotfiles/boot/loader
.dotfiles/boot/loader/random-seed

!.vim/
.vim/*
!.vim/autoload

!.gitconfig
!.gitignore
!.vimrc
!.zshrc
!README.md

*.pyc
*.pyo
