[Unit]
Description=A one-time service that sets up the system post-install.
ConditionPathExists=/onetime.sh

[Service]
Type=oneshot
ExecStart=/onetime.sh

[Install]
WantedBy=multi-user.target
